# Rename me to .env then fill me with runtime configuration and credentials
# Just don't try to check me into your repo :)
# Confused? See https://github.com/motdotla/dotenv
#
# e.g.
# PORT=4000
NODE_ENV=development
FRONTEND_URI=http://localhost:3000
AUTH0_CALLBACK_URL=
AUTH0_DOMAIN=
AUTH0_JWKS_URI=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=